# 0. Cài đặt môi trường <br>
Guide: Chạy toàn bộ các lệnh sau

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 65 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=ee47323ca5bebc95f1d47d3b05d517848c26404a4ccd311af1060e3b38f31716
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [25]:
import pandas as pd
import numpy as np 
import tensorflow as tf
import requests 
import seaborn as sns
import matplotlib.pyplot as plt

import pyspark
from pyspark.sql import functions as F

In [3]:
print(pyspark.__version__)

3.1.2

In [4]:
spark = pyspark.sql.SparkSession \
    .builder \
    .appName("DS_test") \
    .getOrCreate()

In [38]:
#@title RUN THIS PARAGRAPH: TESTCASE
class TEST():
    def testcase1_1(df):
        if str(df.head(1))=='[Row(caseid=10000, dAge=5, dAncstry1=0, dAncstry2=1, iAvail=0, iCitizen=0, iClass=5, dDepart=3, iDisabl1=2, iDisabl2=2, iEnglish=1, iFeb55=0, iFertil=1, dHispanic=0, dHour89=4, dHours=3, iImmigr=0, dIncome1=2, dIncome2=0, dIncome3=0, dIncome4=1, dIncome5=0, dIncome6=0, dIncome7=0, dIncome8=0, dIndustry=10, iKorean=0, iLang1=1, iLooking=0, iMarital=1, iMay75880=0, iMeans=1, iMilitary=4, iMobility=2, iMobillim=2, dOccup=3, iOthrserv=0, iPerscare=2, dPOB=0, dPoverty=2, dPwgt1=1, iRagechld=4, dRearning=3, iRelat1=0, iRelat2=0, iRemplpar=0, iRiders=3, iRlabor=1, iRownchld=0, dRpincome=3, iRPOB=22, iRrelchld=0, iRspouse=3, iRvetserv=0, iSchool=1, iSept80=0, iSex=1, iSubfam1=0, iSubfam2=0, iTmpabsnt=0, dTravtime=5, iVietnam=0, dWeek89=2, iWork89=1, iWorklwk=1, iWWII=0, iYearsch=11, iYearwrk=1, dYrsserv=0)]':
            print("PASS")
        else: print("FAIL")

    def testcase123_1(df):
        if str(df.head(1))=='[Row(caseid=10000, dAge=5, dAncstry1=0, dAncstry2=1, iAvail=0, iCitizen=0, iClass=5, dDepart=3, iDisabl1=2, iDisabl2=2, iEnglish=1, iFeb55=0, iFertil=1, dHispanic=0, dHour89=4, dHours=3, iImmigr=0, dIncome1=2, dIncome2=0, dIncome3=0, dIncome4=1, dIncome5=0, dIncome6=0, dIncome7=0, dIncome8=0, dIndustry=10, iKorean=0, iLang1=1, iLooking=0, iMarital=1, iMay75880=0, iMeans=1, iMilitary=4, iMobility=2, iMobillim=2, dOccup=3, iOthrserv=0, iPerscare=2, dPOB=0, dPoverty=2, dPwgt1=1, iRagechld=4, dRearning=3, iRelat1=0, iRelat2=0, iRemplpar=0, iRiders=3, iRlabor=1, iRownchld=0, dRpincome=3, iRPOB=22, iRrelchld=0, iRspouse=3, iRvetserv=0, iSchool=1, iSept80=0, iSex=1, iSubfam1=0, iSubfam2=0, iTmpabsnt=0, dTravtime=5, iVietnam=0, dWeek89=2, iWork89=1, iWorklwk=1, iWWII=0, iYearsch=11, iYearwrk=1, dYrsserv=0, dAge2=2.0)]':
            print("PASS")
        else: print("FAIL")

    def testcase123_2(df):
        if str(df.head(1))=='[Row(caseid=10366, dAge=0, dAncstry1=1, dAncstry2=1, iAvail=0, iCitizen=0, iClass=0, dDepart=0, iDisabl1=0, iDisabl2=0, iEnglish=0, iFeb55=0, iFertil=0, dHispanic=0, dHour89=0, dHours=0, iImmigr=0, dIncome1=0, dIncome2=0, dIncome3=0, dIncome4=0, dIncome5=0, dIncome6=0, dIncome7=0, dIncome8=0, dIndustry=0, iKorean=0, iLang1=0, iLooking=0, iMarital=4, iMay75880=0, iMeans=0, iMilitary=0, iMobility=0, iMobillim=0, dOccup=0, iOthrserv=0, iPerscare=0, dPOB=0, dPoverty=2, dPwgt1=2, iRagechld=4, dRearning=0, iRelat1=2, iRelat2=0, iRemplpar=121, iRiders=0, iRlabor=0, iRownchld=1, dRpincome=0, iRPOB=10, iRrelchld=1, iRspouse=0, iRvetserv=0, iSchool=0, iSept80=0, iSex=1, iSubfam1=0, iSubfam2=0, iTmpabsnt=0, dTravtime=0, iVietnam=0, dWeek89=0, iWork89=0, iWorklwk=0, iWWII=0, iYearsch=0, iYearwrk=0, dYrsserv=0, dAge2=0.0, rVN=0.0)]':
            print("PASS")
        else: print("FAIL")

    def testcase124(df):
        if str(df.head(1))=="[Row(caseid=10000, dAge=5, dAncstry1=0, dAncstry2=1, iAvail=0, iCitizen=0, iClass=5, dDepart=3, iDisabl1=2, iDisabl2=2, iEnglish=1, iFeb55=0, iFertil=1, dHispanic=0, dHour89=4, dHours=3, iImmigr=0, dIncome1=2, dIncome2=0, dIncome3=0, dIncome4=1, dIncome5=0, dIncome6=0, dIncome7=0, dIncome8=0, dIndustry=10, iKorean=0, iLang1=1, iLooking=0, iMarital=1, iMay75880=0, iMeans=1, iMilitary=4, iMobility=2, iMobillim=2, dOccup=3, iOthrserv=0, iPerscare=2, dPOB=0, dPoverty=2, dPwgt1=1, iRagechld=4, dRearning=3, iRelat1=0, iRelat2=0, iRemplpar=0, iRiders=3, iRlabor=1, iRownchld=0, dRpincome=3, iRPOB=22, iRrelchld=0, iRspouse=3, iRvetserv=0, iSchool=1, iSept80=0, iSex=1, iSubfam1=0, iSubfam2=0, iTmpabsnt=0, dTravtime=5, iVietnam=0, dWeek89=2, iWork89=1, iWorklwk=1, iWWII=0, iYearsch=11, iYearwrk=1, dYrsserv=0, iLogRPOB='1.3424226808222062')]":
            print("PASS")
        else: print("FAIL")

Guide: làm theo các bước và CHỈ sửa các đoạn code nằm giữa các thẻ:
```
# YOUR CODE START
# / END YOUR CODE
```

# 1. Big data manapulation
Bộ dữ liệu điều tra nhân khẩu của US-1990. Hãy thực hiện tải về và sử dụng pyspark để thao tác với dữ liệu. <br>
Đọc thêm về bộ dữ liệu [Tại đây](https://archive.ics.uci.edu/ml/datasets/US+Census+Data+(1990))

In [6]:
# Tải dữ liệu về
file_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/census1990-mld/USCensus1990.data.txt'
file_path = "/content/USCensus1990.data.txt"

r = requests.get(file_url, stream = True) 

with open( file_path, "wb") as file: 
    for block in r.iter_content(chunk_size = 1024*10): 
        if block: 
            file.write(block)

#### Đọc dữ liệu từ file <br>
[1đ, 1p] File dữ liệu đã được tải về tại địa chỉ: file_path <br>
Sử dụng pyspark, hãy đọc file dữ liệu thành dataframe, có danh sách cột phù hợp với tên cột đã được định nghĩa trong file dữ liệu.

In [7]:
df = (
# YOUR CODE START 

    
# / END YOUR CODE
)

In [ ]:
# testcase 1
TEST.testcase1_1(df)

#### Spark SQL analysis
Sử dụng SQL để thực hiện các ý sau

In [9]:
df.registerTempTable('tmp_table')

[1đ, 1.5p] Tìm nhóm dIncome1 có số dân lớn nhất

In [ ]:
sql_text = (
# YOUR CODE START 
'''

'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

[1đ, 3p] Sắp xếp theo chiều tăng dần của iYearsch và đếm lũy kế số người dân, tại người dân đầu tiên có iYearsch = 1 thì giá trị đếm lũy kế là bao nhiêu?

In [ ]:
sql_text = (
# YOUR CODE START 
'''

'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

[1đ, 5p] Giả sử thu nhập của người dùng tỷ lệ thuận với dIncome1, theo công thức income = dIncome1*1000+500, top 10% người nghèo nhất có tổng thu nhập bằng bao nhiêu

In [ ]:
sql_text = (
# YOUR CODE START 
'''

'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

# Pyspark data manipulation
Sử dụng pyspark và dataframe df thực hiện các ý sau

[1đ, 1p] Xác định tỷ lệ gốc Việt trong trong dân số Mỹ (trường iVietnam==1)

In [ ]:
# YOUR CODE START 
r_vn = 
r_vn
# / END YOUR CODE

[1đ, 1p] Kiểm tra số lượng null của các cột [caseid, dAge]

In [ ]:
# YOUR CODE START 

# / END YOUR CODE

[2đ, 5p] Lựa chọn biểu đồ phù hợp so sánh distribution theo độ tuổi của 2 nhóm isVietnam 1 và 0. <br>
Nêu nhận xét

In [ ]:
# YOUR CODE START 


print('''Nhận xét:

''')
# / END YOUR CODE

[2đ, 5p] Hãy tạo thêm feature rVN được xác định bằng logic sau:
* từ df, chia nhóm độ tuổi thành các khoảng phân cắt bởi [ 1, 5, 7 ], đặt cột nhóm độ tuổi này là dAge2 => lưu thành df2
* Với từng nhóm, xác định rVN là tỷ lệ số người có iVietnam = 1 trên tổng người dân của từng nhóm => lưu thành df3

In [ ]:
# YOUR CODE START 
df2 = 

df3 = df2...
# / END YOUR CODE

In [ ]:
TEST.testcase123_1(df2)

In [ ]:
TEST.testcase123_2(df3)

[1đ, 5p] Từ dataframe df, sử dụng python udf để tạo feature logarit cơ số 10 của biến iRPOB, lưu thành feature iLogRPOB

In [46]:
# YOUR CODE START 

# / END YOUR CODE

In [ ]:
TEST.testcase124(df4)

# 2.ML AND DEEP LEARNING

In [12]:
pddf =next( pd.read_csv(file_url, chunksize=10000) )

[3đ, 6p] Xây dựng bộ dữ liệu và lưu vào data_tofit: <br>
- Giữ lại các trường dAge, dDepart và các trường dạng số (bắt đầu bằng chữ i) => lưu vào biến columns<br>
- Với các trường dim (bắt đầu bằng chữ d) thì thực hiện one-hot, các trường số thực hiện normalised

In [45]:
# YOUR CODE START

# / END YOUR CODE

[1đ, 1.5p] Chia bộ dữ liệu thành X_train, X_val, y_train, y_val với nhãn dự đoán là dIncome1 <br>
Tỷ lệ train:val là 75:25

In [ ]:
# YOUR CODE START
X_train, X_val, y_train, y_val = 
# / END YOUR CODE

[1đ, 1.5p] Xây dựng model RF dự đoán dIncome1 dựa trên bộ dữ liệu data_tofit

In [ ]:
# YOUR CODE START

# / END YOUR CODE

[1đ, 1.5p] Đánh giá trên tập validation với confusion matrix và F1 (micro average)

In [42]:
# YOUR CODE START

# / END YOUR CODE

[1đ, 2p] Train và đánh giá model tương tự RF nhưng với model SVC

In [43]:
# YOUR CODE START


# / END YOUR CODE

[2đ, 5p] Xây dựng mạng DL với nhiệm vụ dự đoán tương tự RF phía trên, với ít nhất 3 loại layer Dense, BatchNormalization, Dropout sao cho phù hợp <br>
Thực hiện đáng giá với confusion matrix và F1 (micro)

In [44]:
# YOUR CODE START 

# / END YOUR CODE