<a href="https://colab.research.google.com/github/quanvu0996/ds_test/blob/main/DS_SOLUTION_Test_T12_THUC_HANH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ĐÁNH GIÁ NĂNG LỰC KỸ SƯ KHOA HỌC DỮ LIỆU THÁNG 12 - 2021
#### BÀI THỰC HÀNH
---

Ngày test: 24/12/2021
Thời gian làm bài: 60 phút, từ 10:00 đến 11:00
(+ 5 phút thiết lập môi trường và nộp bài)

Đề thi có 12 câu, tương đương 20 điểm

Quy định:
- Không trao đổi trong suốt quá trình làm bài
- Record màn hình làm bài và share lại cho quanvh8 sau khi kết thúc thời gian test
- Được sử dụng tài liệu và tra cứu internet
- Sau khi hoàn thành, tải notebook, gửi về email: quanvh8@viettel.com.vn

Hướng dẫn làm bài:

* Chạy toàn bộ lệnh trong phần 0. CHUẨN BỊ MÔI TRƯỜNG
* Làm theo hướng dẫn tại các câu và CHỈ SỬA các đoạn code nằm giữa các thẻ:

      # YOUR CODE START
      # / END YOUR CODE

*Lưu ý: hầu hết câu hỏi không có tính tuần tự (không cần hoàn thành câu trước để làm câu sau)*

*Đề thi có một số testcase hỗ trợ DS kiểm tra kết quả, nhưng đây không phải điểm số. Điểm số được giám khảo chấm và gửi lại sau.*



---

## 0. CHUẨN BỊ MÔI TRƯỜNG 
Guide: Chạy toàn bộ các lệnh trong phần này

In [ ]:
!pip install pyspark==3.2.0

Collecting pyspark==3.2.0
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=e9a1644d58471182f532955f272801e9b024b800a4badb67def955566655d24e
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
import pandas as pd
import numpy as np 
import tensorflow as tf
import requests 
import seaborn as sns
import matplotlib.pyplot as plt

import pyspark
from pyspark.sql import functions as F

In [ ]:
print(pyspark.__version__)

3.2.0

In [ ]:
spark = pyspark.sql.SparkSession \
    .builder \
    .appName("DS_test") \
    .getOrCreate()

#### DATA
Bộ dữ liệu "Student Performance Data Set", 
Xem thêm bộ dữ liệu này tại: [UCI Student Performance](https://archive.ics.uci.edu/ml/datasets/Student+Performance)

In [ ]:
# Tải dữ liệu về
file_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip'
file_path = "/content/student.zip"

r = requests.get(file_url, stream = True) 

with open( file_path, "wb") as file: 
    for block in r.iter_content(chunk_size = 1024*10): 
        if block: 
            file.write(block)

In [ ]:
!unzip student.zip

Archive:  student.zip
  inflating: student-mat.csv
  inflating: student-por.csv
  inflating: student-merge.R
  inflating: student.txt

In [ ]:
# TEST CASE
class TEST():
  def test_1(df_math, df_por):
    tcs = lambda df: [len(df.columns), df.count()]
    if tcs(df_math) == [33, 395]: print('df_math: PASS') 
    else : print('df_math: FAIL')
    if tcs(df_por) == [33, 649]: print('df_por: PASS') 
    else : print('df_por: FAIL')

  def test_2(sql_text):
    check = spark.sql(sql_text).toPandas().sort_values('sex')['student_num'].values
    if [check.sum(), check[0]/check[1] ] == [21, 1.1]: print('PASS')
    else: print('FAIL')

## 1. BIG DATA MANIPULATION AND ANALYSIS

Câu 1. [2p, 1đ] Đọc dữ liệu từ file

Sau khi tải về và giải nén, bộ dữ liệu gồm 2 file:
* student-mat.csv : dữ liệu điểm môn toán
* student-por.csv : dữ liệu điểm môn tiếng Bồ Đào Nha

YC: Đọc 2 file này vào các pyspark dataframe tương ứng df_math, df_por

In [ ]:
file_path_math = "/content/student-mat.csv"
file_path_por = "/content/student-por.csv"

df_math = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv(file_path_math)
    
    # / END YOUR CODE
)

df_por = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv(file_path_por)
    
    # / END YOUR CODE
)

In [ ]:
TEST.test_1(df_math, df_por)

df_math: PASS
df_por: PASS

### 1.1. SPARK SQL
Sử dụng SQL để thực hiện các ý sau với bảng tbl_math, và tbl_por

In [ ]:
df_math.createOrReplaceTempView('tbl_math')
df_math.createOrReplaceTempView('tbl_por')

Câu 2.[ 2p, 1 đ]
Xác định nhóm ngành nghề của mẹ (cột Mjob) nào tương ứng với điểm số cả năm (cột g3) của người con cao nhất

In [ ]:
sql_text = (
# YOUR CODE START 
'''
SELECT mjob, AVG(g3) as average_score
FROM   tbl_math
GROUP BY mjob
ORDER BY average_score DESC
LIMIT 1
'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

     mjob  average_score
0  health      12.147059

Câu 3. [2p, 2đ] Xác định hệ số tương quan Pearson của điểm số học kỳ 1 (cột G1) và điểm số học kỳ 2 (cột G2)

In [ ]:
sql_text = (
# YOUR CODE START 
'''
SELECT  (AVG(g1 * g2) - (AVG(g1) * AVG(g2))) / (STDDEV(g1) * STDDEV(g2)) as corr
FROM    tbl_math
'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

       corr
0  0.849961

Câu 4.[ 10p, 2đ]
Sở Giáo dục dự kiến cấp học bổng cho các học sinh dựa trên kết quả học tập cả năm môn toán (bảng tbl_math), sao cho:
* Các học sinh có kết quả học tập cả năm (cột G3) cao hơn thì ưu tiên lựa chọn.
* Tỷ trọng số lượng học sinh theo từng gới tính (cột sex) được nhận học bổng là như nhau: số học sinh nam nhận học bổng trên tổng số học sinh nam bằng số học sinh nữ nhận học bổng trên tổng số nữ.
* Tổng số thời gian vắng mặt (cột absences) của các học sinh được nhận học bổng không quá 5% tổng thời gian vắng mặt của tất cả học sinh.

YC: Viết lệnh SQL truy xuất số lượng học sinh được nhận học bổng của mỗi giới tính. Bảng đầu ra có các cột: {sex:string, student_num:int}

In [ ]:
sql_text = (
# YOUR CODE START 
'''
WITH pct_table AS (
  SELECT  *, ROW_NUMBER() OVER (PARTITION BY sex ORDER BY g3 DESC)
            / COUNT(1) OVER (PARTITION BY sex) as pct
  FROM tbl_math
)
SELECT sex, COUNT(1) AS student_num
FROM  (
        SELECT  *, SUM(absences) OVER (ORDER BY pct)/ SUM(absences) OVER () as ratio
        FROM    pct_table
      )
WHERE ratio <= 0.05
GROUP BY sex
'''
# / END YOUR CODE
)
spark.sql(sql_text).toPandas()

  sex  student_num
0   F           11
1   M           10

In [ ]:
TEST.test_2(sql_text)

PASS

### 1.2. PYSPARK
Sử dụng pyspark và các dataframe df_math, df_por trả lời các câu hỏi sau

Câu 5. [2p, 1đ] Xác định số lượng học sinh vừa học môn toán, vừa học tiếng Bồ Đào Nha. Biết rằng, mỗi sinh viên được đặc trưng bởi một tổ hợp các cột: "school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"

In [ ]:
# YOUR CODE START 
student_id = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]
df_por2=df_por.withColumnRenamed('g3', 'por_g3')

df_merge = df_math.join(df_por2, on = student_id)

df_merge.count()
# / END YOUR CODE

382

Câu 6. [2p, 1đ]
Xác định hệ số tương quan Pearson giữa điểm số cả năm môn toán và điểm số cả năm môn tiếng Bồ Đào Nha của các học sinh đều học 2 môn này

In [ ]:
# YOUR CODE START 

pearson_corr = df_merge.stat.corr( 'G3', 'por_G3')
pearson_corr

# / END YOUR CODE

0.4803493619410261

Câu 7. [5p. 2đ] Xác định hệ số tương quan Kendall tau của điểm số học kỳ 2 học kỳ (G1 và G2) giữa môn toán và môn tiếng Bồ Đào Nha của từng học sinh (cho các học sinh học cả 2 môn này). Biết rằng pyspark không hỗ trợ , nhưng scipy có hỗ trợ tính Kendall tau tại: scipy.stats.kendalltau.

In [ ]:
from scipy.stats import kendalltau

# YOUR CODE START 

@F.pandas_udf("float")
def kendall_corr(x: pd.Series, y: pd.Series)-> float:
    return kendalltau(x, y).correlation

df_merge.select(kendall_corr(df_merge['G3'], df_merge['por_G3'])).show()

# / END YOUR CODE

+------------------------+
|kendall_corr(G3, por_G3)|
+------------------------+
|               0.4188197|
+------------------------+

## 2. MODELING

In [ ]:
pddf_por = pd.read_csv(file_path_por, sep=';')
pddf_por.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1     GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2     GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3     GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4     GP   F   16       U     GT3       T  ...     2       5        0  11  13  13

[5 rows x 33 columns]

Câu 8. [2p, 1đ] Sử dụng pandas dataframe pddf_por, chia ngẫu nhiên thành 2 tập train, test với tỷ lệ 7:3

In [ ]:
# YOUR CODE START 

from sklearn.model_selection import train_test_split
train, test = train_test_split(pddf_por, test_size = 0.3, random_state=42)

# / END YOUR CODE

Câu 9. [5p, 3đ] Tiền xử lý dữ liệu

* Với các nhãn G1, G2, G3: giữ nguyên
* Với các features (các cột còn lại): 
  * Với cột dạng số: áp dụng StandardScaler
  * Với cột dạng yes/no: chuyển về dạng 0/1
  * Với cột dạng biến danh mục: sử dụng onehot-encoder

Fit-transform theo luồng trên cho tập train, transform cho tập test để tạo bộ feature

In [ ]:
# YOUR CODE START 
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

cat_cols = [i for i in train.select_dtypes(include='object').columns]
num_cols = [i for i in train.select_dtypes(include='int64').columns if i not in ('G1', 'G2', 'G3')]

pipe = ColumnTransformer([
     ('cat', OneHotEncoder(), cat_cols),
     ('num', StandardScaler() , num_cols)
     ])

train_scaled = pipe.fit_transform(train)
test_scaled = pipe.transform(test)

# / END YOUR CODE

Câu 10. [9p, 2đ] Chọn một mô hình và huấn luyện dự đoán đồng thời 3 nhãn G1, G2, G3. Đánh giá hiệu quả model trên tập test với chỉ tiêu mean absolute error (MAE). Sao cho trung bình MAE 3 nhãn trên tập test <=1.98. 

Tính giá trị MAE từng nhãn khi đó.

In [ ]:
# YOUR CODE START 

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
rf = RandomForestClassifier(n_estimators=1000, n_jobs=-1, min_samples_leaf=4, random_state=42)
rf.fit(train_scaled, train[['G1', 'G2', 'G3']])

Y_pred = rf.predict(test_scaled)

print( mean_absolute_error( test[['G1', 'G2', 'G3']] ,Y_pred ))

print(mean_absolute_error( test[['G1', 'G2', 'G3']] ,Y_pred , multioutput= 'raw_values'))



# / END YOUR CODE

1.953846153846154
[2.02564103 1.74871795 2.08717949]

Câu 11. [9p, 2đ] Xây dựng một mạng học sâu với tối thiểu 2 hidden layers với các tham số phù hợp để dự đoán các nhãn G1, G2, G3. Sao cho trung bình MAE 3 nhãn trên tập test <=1.98. 

Tính giá trị MAE từng nhãn khi đó.

In [ ]:
# YOUR CODE START 
model = tf.keras.Sequential([
          tf.keras.layers.Dense(64, activation='relu'), 
          tf.keras.layers.Dropout(0.25), 
          tf.keras.layers.Dense(16, activation='relu'), 
          tf.keras.layers.Dense(3)
])

model.compile( optimizer='adam', loss='mae')
model.fit(train_scaled, train[['G1', 'G2', 'G3']], 
          epochs=75, validation_data = [test_scaled, test[['G1', 'G2', 'G3']] ])

print(mean_absolute_error( test[['G1', 'G2', 'G3']] ,model.predict(test_scaled) , multioutput= 'raw_values'))

# / END YOUR CODE

Epoch 1/75
15/15 [==============================] - 0s 11ms/step - loss: 11.6317 - val_loss: 11.2336
Epoch 2/75
15/15 [==============================] - 0s 3ms/step - loss: 10.8522 - val_loss: 10.2841
Epoch 3/75
15/15 [==============================] - 0s 3ms/step - loss: 9.6873 - val_loss: 8.7406
Epoch 4/75
15/15 [==============================] - 0s 3ms/step - loss: 7.8660 - val_loss: 6.6226
Epoch 5/75
15/15 [==============================] - 0s 3ms/step - loss: 6.1574 - val_loss: 5.3063
Epoch 6/75
15/15 [==============================] - 0s 5ms/step - loss: 4.9843 - val_loss: 4.0562
Epoch 7/75
15/15 [==============================] - 0s 4ms/step - loss: 3.7130 - val_loss: 2.7768
Epoch 8/75
15/15 [==============================] - 0s 4ms/step - loss: 2.6087 - val_loss: 1.9631
Epoch 9/75
15/15 [==============================] - 0s 4ms/step - loss: 2.3422 - val_loss: 1.9437
Epoch 10/75
15/15 [==============================] - 0s 5ms/step - loss: 2.3476 - val_loss: 1.9175
Epoch 11/75
15/15 [==============================] - 0s 5ms/step - loss: 2.2633 - val_loss: 1.8728
Epoch 12/75
15/15 [==============================] - 0s 3ms/step - loss: 2.1974 - val_loss: 1.8552
Epoch 13/75
15/15 [==============================] - 0s 4ms/step - loss: 2.1451 - val_loss: 1.8538
Epoch 14/75
15/15 [==============================] - 0s 3ms/step - loss: 2.2613 - val_loss: 1.8412
Epoch 15/75
15/15 [==============================] - 0s 3ms/step - loss: 2.2158 - val_loss: 1.8215
Epoch 16/75
15/15 [==============================] - 0s 3ms/step - loss: 2.0826 - val_loss: 1.8459
Epoch 17/75
15/15 [==============================] - 0s 4ms/step - loss: 2.1271 - val_loss: 1.8230
Epoch 18/75
15/15 [==============================] - 0s 4ms/step - loss: 2.1222 - val_loss: 1.8051
Epoch 19/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0810 - val_loss: 1.8165
Epoch 20/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0953 - val_loss: 1.8194
Epoch 21/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0952 - val_loss: 1.8056
Epoch 22/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0279 - val_loss: 1.8015
Epoch 23/75
15/15 [==============================] - 0s 3ms/step - loss: 2.0596 - val_loss: 1.8045
Epoch 24/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0472 - val_loss: 1.8359
Epoch 25/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0713 - val_loss: 1.8027
Epoch 26/75
15/15 [==============================] - 0s 3ms/step - loss: 2.0732 - val_loss: 1.8279
Epoch 27/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0911 - val_loss: 1.7973
Epoch 28/75
15/15 [==============================] - 0s 5ms/step - loss: 2.1329 - val_loss: 1.8173
Epoch 29/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0347 - val_loss: 1.8007
Epoch 30/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0331 - val_loss: 1.8102
Epoch 31/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0384 - val_loss: 1.8181
Epoch 32/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9160 - val_loss: 1.7991
Epoch 33/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0468 - val_loss: 1.8214
Epoch 34/75
15/15 [==============================] - 0s 4ms/step - loss: 2.0270 - val_loss: 1.7924
Epoch 35/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0743 - val_loss: 1.7955
Epoch 36/75
15/15 [==============================] - 0s 3ms/step - loss: 2.0199 - val_loss: 1.7951
Epoch 37/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9674 - val_loss: 1.7796
Epoch 38/75
15/15 [==============================] - 0s 5ms/step - loss: 1.9480 - val_loss: 1.7839
Epoch 39/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9393 - val_loss: 1.7895
Epoch 40/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9340 - val_loss: 1.8014
Epoch 41/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8647 - val_loss: 1.7797
Epoch 42/75
15/15 [==============================] - 0s 5ms/step - loss: 2.0424 - val_loss: 1.8312
Epoch 43/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9406 - val_loss: 1.7967
Epoch 44/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9218 - val_loss: 1.7897
Epoch 45/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9403 - val_loss: 1.8197
Epoch 46/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9478 - val_loss: 1.7909
Epoch 47/75
15/15 [==============================] - 0s 5ms/step - loss: 1.9428 - val_loss: 1.7937
Epoch 48/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9329 - val_loss: 1.7972
Epoch 49/75
15/15 [==============================] - 0s 5ms/step - loss: 1.9377 - val_loss: 1.7990
Epoch 50/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9290 - val_loss: 1.8441
Epoch 51/75
15/15 [==============================] - 0s 4ms/step - loss: 1.9241 - val_loss: 1.7967
Epoch 52/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8993 - val_loss: 1.8028
Epoch 53/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8978 - val_loss: 1.7867
Epoch 54/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8804 - val_loss: 1.8298
Epoch 55/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8748 - val_loss: 1.7887
Epoch 56/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9046 - val_loss: 1.8396
Epoch 57/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8944 - val_loss: 1.7867
Epoch 58/75
15/15 [==============================] - 0s 5ms/step - loss: 1.8312 - val_loss: 1.8001
Epoch 59/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8504 - val_loss: 1.7778
Epoch 60/75
15/15 [==============================] - 0s 3ms/step - loss: 1.9029 - val_loss: 1.8223
Epoch 61/75
15/15 [==============================] - 0s 3ms/step - loss: 1.7719 - val_loss: 1.7861
Epoch 62/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8835 - val_loss: 1.7839
Epoch 63/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8141 - val_loss: 1.7958
Epoch 64/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8092 - val_loss: 1.7979
Epoch 65/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8352 - val_loss: 1.8000
Epoch 66/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8987 - val_loss: 1.8296
Epoch 67/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8371 - val_loss: 1.8247
Epoch 68/75
15/15 [==============================] - 0s 3ms/step - loss: 1.7786 - val_loss: 1.8081
Epoch 69/75
15/15 [==============================] - 0s 3ms/step - loss: 1.7793 - val_loss: 1.7923
Epoch 70/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8122 - val_loss: 1.8076
Epoch 71/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8327 - val_loss: 1.7730
Epoch 72/75
15/15 [==============================] - 0s 3ms/step - loss: 1.8427 - val_loss: 1.9405
Epoch 73/75
15/15 [==============================] - 0s 4ms/step - loss: 1.8069 - val_loss: 1.7905
Epoch 74/75
15/15 [==============================] - 0s 5ms/step - loss: 1.8068 - val_loss: 1.8177
Epoch 75/75
15/15 [==============================] - 0s 5ms/step - loss: 1.7657 - val_loss: 1.8035
[1.85806829 1.71590128 1.83665351]

Câu 12. [10p, 2đ] Áp dụng transfer learning, hãy sử dụng mạng vừa tạo để xây dựng mô hình dự đoán điểm môn toán.
1. Tiền xử lý dữ liệu tương tự như với bộ pddf_por
2. Đóng băng 2 layer đầu của model đã huấn luyện trên bộ Tiếng Bồ Đào Nha, bổ sung thêm ít nhất 2 layer phía sau tạo thành mô hình dự đoán 3 đầu ra môn Toán.
3. Huấn luyện mô hình dự đoán 3 điểm số môn toán (G1, G2, G3) và đánh giá bằng chỉ tiêu mean square error (MAE).Sao cho trung bình MAE 3 nhãn trên tập test <= 3.0
4. Khi đó, MAE của từng nhãn G1, G2, G3 môn toán là bao nhiêu?

In [ ]:
pddf_math = pd.read_csv(file_path_math, sep=';')
# YOUR CODE START 

train_math, test_math = train_test_split(pddf_math, test_size = 0.3, random_state=42)
pipe_math = ColumnTransformer([
     ('cat', OneHotEncoder(), cat_cols),
     ('num', StandardScaler() , num_cols)
     ])

train_math_scaled = pipe_math.fit_transform(train_math)
test_math_scaled = pipe_math.transform(test_math)

# Por model layes
layer_1 = model.layers[0]
layer_2 = model.layers[2]

layer_1.trainable=False
layer_2.trainable=False
print( len(layer_1.trainable_weights), len(layer_2.trainable_weights))

# Math model
model_math = tf.keras.Sequential([
          layer_1, layer_2,
          tf.keras.layers.Dense(8, activation='relu'),
          tf.keras.layers.Dense(3)
])

model_math.compile( optimizer='adam', loss='mae')
model_math.fit(train_math_scaled, train_math[['G1', 'G2', 'G3']], 
          epochs=75, validation_data = [test_math_scaled, test_math[['G1', 'G2', 'G3']] ])

print(mean_absolute_error(test_math[['G1', 'G2', 'G3']] ,
                          model_math.predict(test_math_scaled) , 
                          multioutput= 'raw_values'))


# / END YOUR CODE

0 0
Epoch 1/75
9/9 [==============================] - 0s 16ms/step - loss: 11.3193 - val_loss: 10.6546
Epoch 2/75
9/9 [==============================] - 0s 7ms/step - loss: 10.5420 - val_loss: 9.9492
Epoch 3/75
9/9 [==============================] - 0s 7ms/step - loss: 9.8465 - val_loss: 9.3351
Epoch 4/75
9/9 [==============================] - 0s 5ms/step - loss: 9.2374 - val_loss: 8.7984
Epoch 5/75
9/9 [==============================] - 0s 4ms/step - loss: 8.6979 - val_loss: 8.2835
Epoch 6/75
9/9 [==============================] - 0s 7ms/step - loss: 8.1987 - val_loss: 7.7949
Epoch 7/75
9/9 [==============================] - 0s 4ms/step - loss: 7.7239 - val_loss: 7.3337
Epoch 8/75
9/9 [==============================] - 0s 4ms/step - loss: 7.2727 - val_loss: 6.8904
Epoch 9/75
9/9 [==============================] - 0s 4ms/step - loss: 6.8332 - val_loss: 6.4547
Epoch 10/75
9/9 [==============================] - 0s 4ms/step - loss: 6.4034 - val_loss: 6.0227
Epoch 11/75
9/9 [==============================] - 0s 5ms/step - loss: 5.9889 - val_loss: 5.6456
Epoch 12/75
9/9 [==============================] - 0s 5ms/step - loss: 5.6189 - val_loss: 5.2891
Epoch 13/75
9/9 [==============================] - 0s 7ms/step - loss: 5.2779 - val_loss: 4.9295
Epoch 14/75
9/9 [==============================] - 0s 5ms/step - loss: 4.9054 - val_loss: 4.5826
Epoch 15/75
9/9 [==============================] - 0s 7ms/step - loss: 4.5550 - val_loss: 4.2279
Epoch 16/75
9/9 [==============================] - 0s 7ms/step - loss: 4.1961 - val_loss: 3.8707
Epoch 17/75
9/9 [==============================] - 0s 5ms/step - loss: 3.8388 - val_loss: 3.5449
Epoch 18/75
9/9 [==============================] - 0s 8ms/step - loss: 3.4874 - val_loss: 3.2742
Epoch 19/75
9/9 [==============================] - 0s 5ms/step - loss: 3.1884 - val_loss: 3.0649
Epoch 20/75
9/9 [==============================] - 0s 6ms/step - loss: 2.9564 - val_loss: 2.9260
Epoch 21/75
9/9 [==============================] - 0s 4ms/step - loss: 2.8031 - val_loss: 2.8567
Epoch 22/75
9/9 [==============================] - 0s 6ms/step - loss: 2.7165 - val_loss: 2.8239
Epoch 23/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6756 - val_loss: 2.8092
Epoch 24/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6595 - val_loss: 2.8036
Epoch 25/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6550 - val_loss: 2.8021
Epoch 26/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6526 - val_loss: 2.8023
Epoch 27/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6533 - val_loss: 2.8023
Epoch 28/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6522 - val_loss: 2.8024
Epoch 29/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6520 - val_loss: 2.8020
Epoch 30/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6516 - val_loss: 2.8020
Epoch 31/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6517 - val_loss: 2.8017
Epoch 32/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6513 - val_loss: 2.8022
Epoch 33/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6537 - val_loss: 2.8023
Epoch 34/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6544 - val_loss: 2.8026
Epoch 35/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6511 - val_loss: 2.8021
Epoch 36/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6513 - val_loss: 2.8021
Epoch 37/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6507 - val_loss: 2.8026
Epoch 38/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6527 - val_loss: 2.8027
Epoch 39/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6522 - val_loss: 2.8023
Epoch 40/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6516 - val_loss: 2.8018
Epoch 41/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6526 - val_loss: 2.8027
Epoch 42/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6494 - val_loss: 2.8017
Epoch 43/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6501 - val_loss: 2.8017
Epoch 44/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6497 - val_loss: 2.8020
Epoch 45/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6515 - val_loss: 2.8018
Epoch 46/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6508 - val_loss: 2.8022
Epoch 47/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6497 - val_loss: 2.8026
Epoch 48/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6500 - val_loss: 2.8019
Epoch 49/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6496 - val_loss: 2.8024
Epoch 50/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6508 - val_loss: 2.8019
Epoch 51/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6495 - val_loss: 2.8019
Epoch 52/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6510 - val_loss: 2.8016
Epoch 53/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6499 - val_loss: 2.8029
Epoch 54/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6507 - val_loss: 2.8026
Epoch 55/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6503 - val_loss: 2.8027
Epoch 56/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6507 - val_loss: 2.8025
Epoch 57/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6499 - val_loss: 2.8021
Epoch 58/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6503 - val_loss: 2.8027
Epoch 59/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6495 - val_loss: 2.8017
Epoch 60/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6477 - val_loss: 2.8018
Epoch 61/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6477 - val_loss: 2.8027
Epoch 62/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6489 - val_loss: 2.8029
Epoch 63/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6487 - val_loss: 2.8020
Epoch 64/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6480 - val_loss: 2.8020
Epoch 65/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6483 - val_loss: 2.8016
Epoch 66/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6473 - val_loss: 2.8022
Epoch 67/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6475 - val_loss: 2.8020
Epoch 68/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6471 - val_loss: 2.8016
Epoch 69/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6481 - val_loss: 2.8026
Epoch 70/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6483 - val_loss: 2.8013
Epoch 71/75
9/9 [==============================] - 0s 7ms/step - loss: 2.6471 - val_loss: 2.8017
Epoch 72/75
9/9 [==============================] - 0s 4ms/step - loss: 2.6474 - val_loss: 2.8022
Epoch 73/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6484 - val_loss: 2.8029
Epoch 74/75
9/9 [==============================] - 0s 5ms/step - loss: 2.6464 - val_loss: 2.8015
Epoch 75/75
9/9 [==============================] - 0s 6ms/step - loss: 2.6466 - val_loss: 2.8012
[2.54116496 2.66805628 3.19429953]